In [3]:
import Utils_Slindex_2 as ut
import pandas as pd

In [3]:
businesses_path = r"yelp_dataset\yelp_academic_dataset_business.json"

In [4]:
businesses = pd.read_json(businesses_path, lines=True)

In [4]:
businesses

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,AB,T6J 5H2,53.468419,-113.492054,3.0,13,1,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Nail Salons, Beauty & Spas","{'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3..."
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,TN,37204,36.115118,-86.766925,4.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Pets, Nurseries & Gardening, Pet Stores, Hobby...","{'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3..."
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,IN,46250,39.908707,-86.065088,3.5,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Shopping, Jewelry, Piercing, Toy Stores, Beaut...",None
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,IL,62025,38.782351,-89.950558,4.0,24,1,"{'BusinessParking': '{'garage': False, 'street...","Fitness/Exercise Equipment, Eyewear & Optician...","{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ..."
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,FL,33572,27.771002,-82.394910,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo","{'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19..."

## filtrando por categoria restaurante

In [5]:
businesses["categories"].value_counts()

categories
Beauty & Spas, Nail Salons                                                                                          1012
Restaurants, Pizza                                                                                                   935
Nail Salons, Beauty & Spas                                                                                           934
Pizza, Restaurants                                                                                                   823
Restaurants, Mexican                                                                                                 728
                                                                                                                    ...
Restaurants, Specialty Food, Food, Sandwiches, Italian                                                                 1
Professional Services, Accountants, Financial Services, Tax Services                                                   1
Caterers, Convenience Stores, Food, Event Planning & Services, Specialty Food                                          1
Home Services, Pressure Washers, Gutter Services, Window Washing, Air Duct Cleaning, Contractors, Local Services       1
Chicken Wings, Restaurants, Pizza, Food, Sandwiches, Food Delivery Services                                            1
Name: count, Length: 83160, dtype: int64

In [6]:
businesses["categories"].isna().value_counts()

categories
False    150243
True        103
Name: count, dtype: int64

In [7]:
businesses.fillna({"categories": ""},inplace=True)
#businesses.fillna({col: "categories"},"",inplace=True)

In [8]:
businesses["categories"].isna().value_counts()

categories
False    150346
Name: count, dtype: int64

In [9]:
businesses['categories'] = businesses['categories'].str.split(',')

In [10]:
businesses["categories"]

0         [Doctors,  Traditional Chinese Medicine,  Natu...
1         [Shipping Centers,  Local Services,  Notaries,...
2         [Department Stores,  Shopping,  Fashion,  Home...
3         [Restaurants,  Food,  Bubble Tea,  Coffee & Te...
4                             [Brewpubs,  Breweries,  Food]
                                ...
150341                        [Nail Salons,  Beauty & Spas]
150342    [Pets,  Nurseries & Gardening,  Pet Stores,  H...
150343    [Shopping,  Jewelry,  Piercing,  Toy Stores,  ...
150344    [Fitness/Exercise Equipment,  Eyewear & Optici...
150345    [Beauty & Spas,  Permanent Makeup,  Piercing, ...
Name: categories, Length: 150346, dtype: object

In [11]:
# 2. Quitar espacios en blanco adicionales en cada categorÃ­a dentro de las listas
businesses['categories'] = businesses['categories'].apply(lambda x: [i.strip() for i in x])

In [12]:
businesses["categories"]

0         [Doctors, Traditional Chinese Medicine, Naturo...
1         [Shipping Centers, Local Services, Notaries, M...
2         [Department Stores, Shopping, Fashion, Home & ...
3         [Restaurants, Food, Bubble Tea, Coffee & Tea, ...
4                               [Brewpubs, Breweries, Food]
                                ...
150341                         [Nail Salons, Beauty & Spas]
150342    [Pets, Nurseries & Gardening, Pet Stores, Hobb...
150343    [Shopping, Jewelry, Piercing, Toy Stores, Beau...
150344    [Fitness/Exercise Equipment, Eyewear & Opticia...
150345    [Beauty & Spas, Permanent Makeup, Piercing, Ta...
Name: categories, Length: 150346, dtype: object

In [13]:
# 2. Expandir las listas de categorÃ­as en filas separadas y contar cada una
conteo_categorias = businesses['categories'].explode().value_counts()

print(conteo_categorias)

categories
Restaurants             52268
Food                    27781
Shopping                24395
Home Services           14356
Beauty & Spas           14292
                        ...
Dart Arenas                 1
Housing Cooperatives        1
Cucina campana              1
Guamanian                   1
Fencing Clubs               1
Name: count, Length: 1312, dtype: int64

In [14]:
total_categorias = conteo_categorias.sum()

print(total_categorias)

668695

In [15]:
businesses["business_id"].duplicated().value_counts()

business_id
False    150346
Name: count, dtype: int64

In [16]:
restaurantes = businesses[businesses['categories'].apply(lambda x: "Restaurants" in x if isinstance(x, list) else False)]

In [17]:
restaurantes.reset_index(inplace=True,drop=True)

In [18]:
restaurantes

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","[Restaurants, Food, Bubble Tea, Coffee & Tea, ...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","[Burgers, Fast Food, Sandwiches, Food, Ice Cre...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '..."
2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': 'u'full_bar'', '...","[Pubs, Restaurants, Italian, Bars, American (T...",None
3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,1,"{'RestaurantsAttire': ''casual'', 'Restaurants...","[Ice Cream & Frozen Yogurt, Fast Food, Burgers...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '..."
4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,1,"{'Alcohol': ''none'', 'OutdoorSeating': 'None'...","[Vietnamese, Food, Restaurants, Food Trucks]","{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52263,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,19 N Bishop Ave,Clifton Heights,PA,19018,39.925656,-75.310344,3.0,11,1,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","[Restaurants, Sandwiches, Convenience Stores, ...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
52264,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,1181 N Milwaukee St,Boise,ID,83704,43.615401,-116.284689,4.0,33,1,"{'WiFi': ''free'', 'RestaurantsGoodForGroups':...","[Cafes, Juice Bars & Smoothies, Coffee & Tea, ...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-17:0', '..."
52265,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147,39.935982,-75.158665,4.5,35,1,"{'WheelchairAccessible': 'False', 'Restaurants...","[Restaurants, Mexican]","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
52266,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,DE,19014,39.856185,-75.427725,4.5,14,1,"{'RestaurantsDelivery': 'False', 'BusinessAcce...","[Restaurants, Comfort Food, Food, Food Trucks,...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
52267,hn9Toz3s-Ei3uZPt7esExA,West Side Kebab House,2470 Guardian Road NW,Edmonton,AB,T5T 1K8,53.509649,-113.675999,4.5,18,0,"{'Ambience': '{'touristy': False, 'hipster': F...","[Middle Eastern, Restaurants]","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."

In [19]:
restaurantes.to_csv("restaurntes.csv")

#

In [20]:
restaurantes

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","[Restaurants, Food, Bubble Tea, Coffee & Tea, ...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","[Burgers, Fast Food, Sandwiches, Food, Ice Cre...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '..."
2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': 'u'full_bar'', '...","[Pubs, Restaurants, Italian, Bars, American (T...",None
3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,1,"{'RestaurantsAttire': ''casual'', 'Restaurants...","[Ice Cream & Frozen Yogurt, Fast Food, Burgers...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '..."
4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,1,"{'Alcohol': ''none'', 'OutdoorSeating': 'None'...","[Vietnamese, Food, Restaurants, Food Trucks]","{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52263,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,19 N Bishop Ave,Clifton Heights,PA,19018,39.925656,-75.310344,3.0,11,1,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","[Restaurants, Sandwiches, Convenience Stores, ...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
52264,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,1181 N Milwaukee St,Boise,ID,83704,43.615401,-116.284689,4.0,33,1,"{'WiFi': ''free'', 'RestaurantsGoodForGroups':...","[Cafes, Juice Bars & Smoothies, Coffee & Tea, ...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-17:0', '..."
52265,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147,39.935982,-75.158665,4.5,35,1,"{'WheelchairAccessible': 'False', 'Restaurants...","[Restaurants, Mexican]","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
52266,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,DE,19014,39.856185,-75.427725,4.5,14,1,"{'RestaurantsDelivery': 'False', 'BusinessAcce...","[Restaurants, Comfort Food, Food, Food Trucks,...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
52267,hn9Toz3s-Ei3uZPt7esExA,West Side Kebab House,2470 Guardian Road NW,Edmonton,AB,T5T 1K8,53.509649,-113.675999,4.5,18,0,"{'Ambience': '{'touristy': False, 'hipster': F...","[Middle Eastern, Restaurants]","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."

In [21]:
col_complejas = restaurantes.columns[-3:]

In [22]:
col_complejas

Index(['attributes', 'categories', 'hours'], dtype='object')

In [23]:
restaurantes[restaurantes.columns[~restaurantes.columns.isin(col_complejas)]]

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,1
2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,0
3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,1
4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,1
...,...,...,...,...,...,...,...,...,...,...,...
52263,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,19 N Bishop Ave,Clifton Heights,PA,19018,39.925656,-75.310344,3.0,11,1
52264,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,1181 N Milwaukee St,Boise,ID,83704,43.615401,-116.284689,4.0,33,1
52265,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147,39.935982,-75.158665,4.5,35,1
52266,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,DE,19014,39.856185,-75.427725,4.5,14,1
52267,hn9Toz3s-Ei3uZPt7esExA,West Side Kebab House,2470 Guardian Road NW,Edmonton,AB,T5T 1K8,53.509649,-113.675999,4.5,18,0

In [24]:
ut.data_review(restaurantes[restaurantes.columns[~restaurantes.columns.isin(col_complejas)]])

Total rows:  52268

Total full null rows:  0

Total duplicated rows: 0

          Column              dType  No_Null_%  No_Null_Qty  Null_%  Null_Qty
0    business_id    [<class 'str'>]      100.0        52268     0.0         0
1           name    [<class 'str'>]      100.0        52268     0.0         0
2        address    [<class 'str'>]      100.0        52268     0.0         0
3           city    [<class 'str'>]      100.0        52268     0.0         0
4          state    [<class 'str'>]      100.0        52268     0.0         0
5    postal_code    [<class 'str'>]      100.0        52268     0.0         0
6       latitude  [<class 'float'>]      100.0        52268     0.0         0
7      longitude  [<class 'float'>]      100.0        52268     0.0         0
8          stars  [<class 'float'>]      100.0        52268     0.0         0
9   review_count    [<class 'int'>]      100.0        52268     0.0         0
10       is_open    [<class 'int'>]      100.0        52268     0.0         0

In [28]:
pd.json_normalize(restaurantes["attributes"])

,RestaurantsDelivery,OutdoorSeating,BusinessAcceptsCreditCards,BusinessParking,BikeParking,RestaurantsPriceRange2,RestaurantsTakeOut,ByAppointmentOnly,WiFi,Alcohol,...,BestNights,BYOB,Corkage,BYOBCorkage,RestaurantsCounterService,Open24Hours,AgesAllowed,DietaryRestrictions,HairSpecializesIn,AcceptsInsurance
0,False,False,False,"{'garage': False, 'street': True, 'validated':...",True,1,True,False,u'free',u'none',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,True,True,True,None,False,1,True,False,u'no',u'none',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,False,True,True,"{'garage': False, 'street': False, 'validated'...",NaN,1,True,NaN,u'free',u'full_bar',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,True,True,True,"{'garage': False, 'street': False, 'validated'...",NaN,1,True,False,u'no',u'none',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,None,NaN,"{'garage': False, 'street': False, 'validated'...",NaN,NaN,NaN,NaN,NaN,'none',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52263,True,NaN,True,"{'garage': False, 'street': False, 'validated'...",True,1,True,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52264,False,True,True,"{'garage': False, 'street': False, 'validated'...",True,1,False,NaN,'free',u'none',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52265,True,False,True,"{'garage': None, 'street': True, 'validated': ...",True,2,True,NaN,u'free',u'none',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52266,False,NaN,True,"{'garage': False, 'street': True, 'validated':...",True,1,True,NaN,NaN,'none',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52267,NaN,NaN,NaN,"{'garage': False, 'street': False, 'validated'...",NaN,2,True,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
def expand_json_columns(df):
    """
    Expande columnas de un DataFrame que contengan JSON o diccionarios utilizando pd.json_normalize.
    """
    for col in df.columns:
        try:
            # Intenta normalizar la columna
            expanded = pd.json_normalize(df[col].dropna())
            # Renombra las columnas nuevas con el prefijo de la columna original
            #expanded.columns = [f"{col}.{subcol}" for subcol in expanded.columns]
            # AÃ±ade las columnas nuevas al DataFrame
            df = pd.concat([df.drop(columns=[col]), expanded], axis=1)
        except:
            # Si no se puede normalizar, pasa a la siguiente columna
            continue

    return df

In [91]:
col_complejas = expand_json_columns(restaurantes)

In [92]:
col_complejas

,RestaurantsDelivery,OutdoorSeating,BusinessAcceptsCreditCards,BusinessParking,BikeParking,RestaurantsPriceRange2,RestaurantsTakeOut,ByAppointmentOnly,WiFi,Alcohol,...,33,34,35,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,False,False,False,"{'garage': False, 'street': True, 'validated':...",True,1,True,False,u'free',u'none',...,None,None,None,7:0-20:0,7:0-20:0,7:0-20:0,7:0-20:0,7:0-21:0,7:0-21:0,7:0-21:0
1,True,True,True,None,False,1,True,False,u'no',u'none',...,None,None,None,0:0-0:0,6:0-22:0,6:0-22:0,6:0-22:0,9:0-0:0,9:0-22:0,8:0-22:0
2,False,True,True,"{'garage': False, 'street': False, 'validated'...",NaN,1,True,NaN,u'free',u'full_bar',...,None,None,None,0:0-0:0,6:0-21:0,6:0-21:0,6:0-16:0,6:0-16:0,6:0-17:0,6:0-21:0
3,True,True,True,"{'garage': False, 'street': False, 'validated'...",NaN,1,True,False,u'no',u'none',...,None,None,None,11:0-14:0,11:0-14:0,11:0-14:0,11:0-14:0,11:0-14:0,5:0-10:0,15:0-18:0
4,NaN,None,NaN,"{'garage': False, 'street': False, 'validated'...",NaN,NaN,NaN,NaN,NaN,'none',...,None,None,None,6:0-22:0,6:0-22:0,6:0-22:0,6:0-22:0,6:0-22:0,6:0-22:0,6:0-22:0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
import numpy as np
import ast

In [94]:
col_complejas["BusinessParking"] = col_complejas["BusinessParking"].replace("None", np.nan)

In [96]:
col_complejas["BusinessParking"]

0        {'garage': False, 'street': True, 'validated':...
1                                                      NaN
2        {'garage': False, 'street': False, 'validated'...
3        {'garage': False, 'street': False, 'validated'...
4        {'garage': False, 'street': False, 'validated'...
                               ...
52263                                                  NaN
52264                                                  NaN
52265                                                  NaN
52266                                                  NaN
52267                                                  NaN
Name: BusinessParking, Length: 52268, dtype: object

In [98]:
col_complejas["BusinessParking"].value_counts()

BusinessParking
{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}        17454
{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}        9842
{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}         7223
{'garage': False, 'street': True, 'validated': False, 'lot': True, 'valet': False}          2612
{'garage': True, 'street': True, 'validated': False, 'lot': False, 'valet': False}           680
                                                                                           ...
{u'valet': True, u'garage': True, u'street': True, u'lot': True, u'validated': False}          1
{u'valet': False, u'garage': True, u'street': True, u'lot': True, u'validated': True}          1
{u'garage': True, u'street': False, u'validated': False, u'lot': False, u'valet': True}        1
{'garage': False}                                                                              1
{u'valet': False, u'garage': True, u'street': True, u'lot': False, u'validated': True}         1
Name: count, Length: 156, dtype: int64

In [36]:
def clean_and_convert(value):
    if isinstance(value, str):  # Si es una cadena de texto
        try:
            # Eliminar prefijos 'u' no deseados
            value = value.replace(" u'", " '").replace(' u"', ' "')
            return ast.literal_eval(value)
        except (ValueError, SyntaxError):
            return value  # Devolver como estÃ¡ si no es un diccionario vÃ¡lido
    return value

In [106]:
col_complejas['BusinessParking'] = col_complejas['BusinessParking'].apply(clean_and_convert)

In [107]:
col_complejas["BusinessParking"].value_counts()

BusinessParking
{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}     17987
{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}     9897
{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}      7406
{'garage': False, 'street': True, 'validated': False, 'lot': True, 'valet': False}       2765
{'garage': True, 'street': True, 'validated': False, 'lot': False, 'valet': False}        729
                                                                                        ...
{}                                                                                          2
{'garage': True, 'street': False, 'validated': True, 'lot': True, 'valet': True}            2
{'garage': False, 'street': None, 'validated': False, 'lot': None, 'valet': True}           1
{'valet': False, 'garage': None, 'street': True, 'lot': None, 'validated': True}            1
{'garage': False}                                                                           1
Name: count, Length: 80, dtype: int64

In [108]:
expanded_parking = pd.json_normalize(col_complejas['BusinessParking'])
expanded_parking.columns = [f"BusinessParking.{col}" for col in expanded_parking.columns]
col_complejas = pd.concat([col_complejas.drop(columns=["BusinessParking"]), expanded_parking], axis=1)

In [115]:
col_complejas.isna().sum()

RestaurantsDelivery            4614
OutdoorSeating                 8629
BusinessAcceptsCreditCards     6711
BikeParking                   16785
RestaurantsPriceRange2         7768
                              ...
BusinessParking.garage         8881
BusinessParking.street         9892
BusinessParking.validated      9034
BusinessParking.lot            9132
BusinessParking.valet          7398
Length: 86, dtype: int64

In [116]:
col_complejas

,RestaurantsDelivery,OutdoorSeating,BusinessAcceptsCreditCards,BikeParking,RestaurantsPriceRange2,RestaurantsTakeOut,ByAppointmentOnly,WiFi,Alcohol,Caters,...,Wednesday,Thursday,Friday,Saturday,Sunday,BusinessParking.garage,BusinessParking.street,BusinessParking.validated,BusinessParking.lot,BusinessParking.valet
0,False,False,False,True,1,True,False,u'free',u'none',True,...,7:0-20:0,7:0-20:0,7:0-21:0,7:0-21:0,7:0-21:0,False,True,False,False,False
1,True,True,True,False,1,True,False,u'no',u'none',False,...,6:0-22:0,6:0-22:0,9:0-0:0,9:0-22:0,8:0-22:0,NaN,NaN,NaN,NaN,NaN
2,False,True,True,NaN,1,True,NaN,u'free',u'full_bar',True,...,6:0-21:0,6:0-16:0,6:0-16:0,6:0-17:0,6:0-21:0,False,False,False,True,False
3,True,True,True,NaN,1,True,False,u'no',u'none',False,...,11:0-14:0,11:0-14:0,11:0-14:0,5:0-10:0,15:0-18:0,False,False,False,False,False
4,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,'none',NaN,...,6:0-22:0,6:0-22:0,6:0-22:0,6:0-22:0,6:0-22:0,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
ut.data_review(col_complejas)

In [131]:
print(col_complejas.columns.tolist())

['RestaurantsDelivery', 'OutdoorSeating', 'BusinessAcceptsCreditCards', 'BikeParking', 'RestaurantsPriceRange2', 'RestaurantsTakeOut', 'ByAppointmentOnly', 'WiFi', 'Alcohol', 'Caters', 'RestaurantsAttire', 'RestaurantsReservations', 'Ambience', 'GoodForKids', 'CoatCheck', 'DogsAllowed', 'RestaurantsTableService', 'RestaurantsGoodForGroups', 'WheelchairAccessible', 'HasTV', 'HappyHour', 'DriveThru', 'NoiseLevel', 'GoodForMeal', 'BusinessAcceptsBitcoin', 'Smoking', 'Music', 'GoodForDancing', 'BestNights', 'BYOB', 'Corkage', 'BYOBCorkage', 'RestaurantsCounterService', 'Open24Hours', 'AgesAllowed', 'DietaryRestrictions', 'HairSpecializesIn', 'AcceptsInsurance', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'BusinessParking.garage', 'BusinessParking.street', 'BusinessParking.validated', 'BusinessParking.lot', 'BusinessParking.valet']

In [118]:
# Identificar columnas que contienen diccionarios
columns_with_dicts = []

for col in col_complejas.columns:
    if col_complejas[col].apply(lambda x: isinstance(x, dict)).any():
        columns_with_dicts.append(col)

print(f"Columnas con diccionarios: {columns_with_dicts}")

Columnas con diccionarios: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35]

In [ ]:
col_complejas[""]

0          {}
1          {}
2          {}
3          {}
4          {}
         ...
52263      {}
52264      {}
52265    None
52266      {}
52267    None
Name: 2, Length: 52268, dtype: object

In [130]:
for i in range(0,36):
    del col_complejas[i]

In [133]:
df = ut.data_review(col_complejas)

Total rows:  52268

Total full null rows:  565

Total duplicated rows: 796

In [135]:
df

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,RestaurantsDelivery,"[<class 'str'>, <class 'float'>]",91.17,47654,8.83,4614
1,OutdoorSeating,"[<class 'str'>, <class 'float'>]",83.49,43639,16.51,8629
2,BusinessAcceptsCreditCards,"[<class 'str'>, <class 'float'>]",87.16,45557,12.84,6711
3,BikeParking,"[<class 'str'>, <class 'float'>]",67.89,35483,32.11,16785
4,RestaurantsPriceRange2,"[<class 'str'>, <class 'float'>]",85.14,44500,14.86,7768
5,RestaurantsTakeOut,"[<class 'str'>, <class 'float'>]",93.20,48713,6.80,3555
6,ByAppointmentOnly,"[<class 'str'>, <class 'float'>]",6.40,3346,93.60,48922
7,WiFi,"[<class 'str'>, <class 'float'>]",72.22,37748,27.78,14520
8,Alcohol,"[<class 'str'>, <class 'float'>]",76.49,39980,23.51,12288
9,Caters,"[<class 'str'>, <class 'float'>]",66.14,34570,33.86,17698
10,RestaurantsAttire,"[<class 'float'>, <class 'str'>]",74.60,38992,25.40,13276
11,RestaurantsReservations,"[<class 'float'>, <class 'str'>]",82.47,43106,17.53,9162
12,Ambience,"[<class 'float'>, <class 'str'>]",79.53,41567,20.47,10701
13,GoodForKids,"[<class 'float'>, <class 'str'>]",78.40,40977,21.60,11291
14,CoatCheck,"[<class 'float'>, <class 'str'>]",8.19,4280,91.81,47988
15,DogsAllowed,"[<class 'float'>, <class 'str'>]",21.96,11477,78.04,40791
16,RestaurantsTableService,"[<class 'float'>, <class 'str'>]",37.76,19737,62.24,32531
17,RestaurantsGoodForGroups,"[<class 'float'>, <class 'str'>]",79.28,41439,20.72,10829
18,WheelchairAccessible,"[<class 'float'>, <class 'str'>]",25.93,13555,74.07,38713
19,HasTV,"[<class 'float'>, <class 'str'>]",80.20,41917,19.80,10351
20,HappyHour,"[<class 'float'>, <class 'str'>]",24.89,13009,75.11,39259
21,DriveThru,"[<class 'float'>, <class 'str'>]",11.93,6235,88.07,46033
22,NoiseLevel,"[<class 'float'>, <class 'str'>]",66.67,34845,33.33,17423
23,GoodForMeal,"[<class 'float'>, <class 'str'>]",55.20,28853,44.80,23415
24,BusinessAcceptsBitcoin,"[<class 'float'>, <class 'str'>]",12.88,6731,87.12,45537
25,Smoking,"[<class 'float'>, <class 'str'>]",6.59,3447,93.41,48821
26,Music,"[<class 'float'>, <class 'str'>]",10.64,5563,89.36,46705
27,GoodForDancing,"[<class 'float'>, <class 'str'>]",6.88,3595,93.12,48673
28,BestNights,"[<class 'float'>, <class 'str'>]",8.63,4510,91.37,47758
29,BYOB,"[<class 'float'>, <class 'str'>]",8.08,4222,91.92,48046
30,Corkage,"[<class 'float'>, <class 'str'>]",6.57,3432,93.43,48836
31,BYOBCorkage,"[<class 'float'>, <class 'str'>]",2.76,1442,97.24,50826
32,RestaurantsCounterService,"[<class 'float'>, <class 'str'>]",0.03,18,99.97,52250
33,Open24Hours,"[<class 'float'>, <class 'str'>]",0.04,21,99.96,52247
34,AgesAllowed,"[<class 'float'>, <class 'str'>]",0.17,88,99.83,52180
35,DietaryRestrictions,"[<class 'float'>, <class 'str'>]",0.06,30,99.94,52238
36,HairSpecializesIn,"[<class 'float'>, <class 'str'>]",0.00,2,100.00,52266
37,AcceptsInsurance,"[<class 'float'>, <class 'str'>]",0.04,19,99.96,52249
38,Monday,"[<class 'str'>, <class 'float'>]",74.55,38967,25.45,13301
39,Tuesday,"[<class 'str'>, <class 'float'>]",79.94,41783,20.06,10485
40,Wednesday,"[<class 'str'>, <class 'float'>]",83.69,43742,16.31,8526
41,Thursday,"[<class 'str'>, <class 'float'>]",85.00,44429,15.00,7839
42,Friday,"[<class 'str'>, <class 'float'>]",85.41,44644,14.59,7624
43,Saturday,"[<class 'str'>, <class 'float'>]",83.27,43525,16.73,8743
44,Sunday,"[<class 'str'>, <class 'float'>]",72.13,37703,27.87,14565
45,BusinessParking.garage,"[<class 'bool'>, <class 'float'>, <class 'None...",83.01,43387,16.99,8881
46,BusinessParking.street,"[<class 'bool'>, <class 'float'>, <class 'None...",81.07,42376,18.93,9892
47,BusinessParking.validated,"[<class 'bool'>, <class 'float'>, <class 'None...",82.72,43234,17.28,9034
48,BusinessParking.lot,"[<class 'bool'>, <class 'float'>, <class 'None...",82.53,43136,17.47,9132
49,BusinessParking.valet,"[<class 'bool'>, <class 'float'>]",85.85,44870,14.15,7398

In [ ]:
columnas_borrar = df[(df["No_Null_%"] < 70 )]["Column"].to_list()   #columnas con mas de el 70% de nulos

In [144]:
columnas_borrar

['BikeParking',
 'ByAppointmentOnly',
 'Caters',
 'CoatCheck',
 'DogsAllowed',
 'RestaurantsTableService',
 'WheelchairAccessible',
 'HappyHour',
 'DriveThru',
 'NoiseLevel',
 'GoodForMeal',
 'BusinessAcceptsBitcoin',
 'Smoking',
 'Music',
 'GoodForDancing',
 'BestNights',
 'BYOB',
 'Corkage',
 'BYOBCorkage',
 'RestaurantsCounterService',
 'Open24Hours',
 'AgesAllowed',
 'DietaryRestrictions',
 'HairSpecializesIn',
 'AcceptsInsurance']

In [148]:
for col in columnas_borrar:
    del col_complejas[col]

In [166]:
col_complejas

,RestaurantsDelivery,OutdoorSeating,BusinessAcceptsCreditCards,RestaurantsPriceRange2,RestaurantsTakeOut,WiFi,Alcohol,RestaurantsAttire,RestaurantsReservations,Ambience,...,Wednesday,Thursday,Friday,Saturday,Sunday,BusinessParking.garage,BusinessParking.street,BusinessParking.validated,BusinessParking.lot,BusinessParking.valet
0,False,False,False,1,True,u'free',u'none',NaN,NaN,NaN,...,7:0-20:0,7:0-20:0,7:0-21:0,7:0-21:0,7:0-21:0,False,True,False,False,False
1,True,True,True,1,True,u'no',u'none',u'casual',False,None,...,6:0-22:0,6:0-22:0,9:0-0:0,9:0-22:0,8:0-22:0,NaN,NaN,NaN,NaN,NaN
2,False,True,True,1,True,u'free',u'full_bar',u'casual',False,"{'romantic': False, 'intimate': False, 'touris...",...,6:0-21:0,6:0-16:0,6:0-16:0,6:0-17:0,6:0-21:0,False,False,False,True,False
3,True,True,True,1,True,u'no',u'none','casual',False,NaN,...,11:0-14:0,11:0-14:0,11:0-14:0,5:0-10:0,15:0-18:0,False,False,False,False,False
4,NaN,None,NaN,NaN,NaN,NaN,'none',NaN,False,"{'touristy': False, 'hipster': False, 'romanti...",...,6:0-22:0,6:0-22:0,6:0-22:0,6:0-22:0,6:0-22:0,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [167]:
ut.data_review(col_complejas)

Total rows:  52268

Total full null rows:  565

Total duplicated rows: 1415

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,RestaurantsDelivery,"[<class 'str'>, <class 'float'>]",91.17,47654,8.83,4614
1,OutdoorSeating,"[<class 'str'>, <class 'float'>]",83.49,43639,16.51,8629
2,BusinessAcceptsCreditCards,"[<class 'str'>, <class 'float'>]",87.16,45557,12.84,6711
3,RestaurantsPriceRange2,"[<class 'str'>, <class 'float'>]",85.14,44500,14.86,7768
4,RestaurantsTakeOut,"[<class 'str'>, <class 'float'>]",93.20,48713,6.80,3555
5,WiFi,"[<class 'str'>, <class 'float'>]",72.22,37748,27.78,14520
6,Alcohol,"[<class 'str'>, <class 'float'>]",76.49,39980,23.51,12288
7,RestaurantsAttire,"[<class 'float'>, <class 'str'>]",74.60,38992,25.40,13276
8,RestaurantsReservations,"[<class 'float'>, <class 'str'>]",82.47,43106,17.53,9162
9,Ambience,"[<class 'float'>, <class 'str'>]",79.53,41567,20.47,10701
10,GoodForKids,"[<class 'float'>, <class 'str'>]",78.40,40977,21.60,11291
11,RestaurantsGoodForGroups,"[<class 'float'>, <class 'str'>]",79.28,41439,20.72,10829
12,HasTV,"[<class 'float'>, <class 'str'>]",80.20,41917,19.80,10351
13,Monday,"[<class 'str'>, <class 'float'>]",74.55,38967,25.45,13301
14,Tuesday,"[<class 'str'>, <class 'float'>]",79.94,41783,20.06,10485
15,Wednesday,"[<class 'str'>, <class 'float'>]",83.69,43742,16.31,8526
16,Thursday,"[<class 'str'>, <class 'float'>]",85.00,44429,15.00,7839
17,Friday,"[<class 'str'>, <class 'float'>]",85.41,44644,14.59,7624
18,Saturday,"[<class 'str'>, <class 'float'>]",83.27,43525,16.73,8743
19,Sunday,"[<class 'str'>, <class 'float'>]",72.13,37703,27.87,14565
20,BusinessParking.garage,"[<class 'bool'>, <class 'float'>, <class 'None...",83.01,43387,16.99,8881
21,BusinessParking.street,"[<class 'bool'>, <class 'float'>, <class 'None...",81.07,42376,18.93,9892
22,BusinessParking.validated,"[<class 'bool'>, <class 'float'>, <class 'None...",82.72,43234,17.28,9034
23,BusinessParking.lot,"[<class 'bool'>, <class 'float'>, <class 'None...",82.53,43136,17.47,9132
24,BusinessParking.valet,"[<class 'bool'>, <class 'float'>]",85.85,44870,14.15,7398

In [177]:
for i in restaurantes.columns[-3:]:
    del restaurantes[i]

In [178]:
restaurantes

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,1
2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,0
3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,1
4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,1
...,...,...,...,...,...,...,...,...,...,...,...
52263,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,19 N Bishop Ave,Clifton Heights,PA,19018,39.925656,-75.310344,3.0,11,1
52264,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,1181 N Milwaukee St,Boise,ID,83704,43.615401,-116.284689,4.0,33,1
52265,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147,39.935982,-75.158665,4.5,35,1
52266,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,DE,19014,39.856185,-75.427725,4.5,14,1
52267,hn9Toz3s-Ei3uZPt7esExA,West Side Kebab House,2470 Guardian Road NW,Edmonton,AB,T5T 1K8,53.509649,-113.675999,4.5,18,0

In [179]:
col_complejas

,RestaurantsDelivery,OutdoorSeating,BusinessAcceptsCreditCards,RestaurantsPriceRange2,RestaurantsTakeOut,WiFi,Alcohol,RestaurantsAttire,RestaurantsReservations,Ambience,...,Wednesday,Thursday,Friday,Saturday,Sunday,BusinessParking.garage,BusinessParking.street,BusinessParking.validated,BusinessParking.lot,BusinessParking.valet
0,False,False,False,1,True,u'free',u'none',NaN,NaN,NaN,...,7:0-20:0,7:0-20:0,7:0-21:0,7:0-21:0,7:0-21:0,False,True,False,False,False
1,True,True,True,1,True,u'no',u'none',u'casual',False,None,...,6:0-22:0,6:0-22:0,9:0-0:0,9:0-22:0,8:0-22:0,NaN,NaN,NaN,NaN,NaN
2,False,True,True,1,True,u'free',u'full_bar',u'casual',False,"{'romantic': False, 'intimate': False, 'touris...",...,6:0-21:0,6:0-16:0,6:0-16:0,6:0-17:0,6:0-21:0,False,False,False,True,False
3,True,True,True,1,True,u'no',u'none','casual',False,NaN,...,11:0-14:0,11:0-14:0,11:0-14:0,5:0-10:0,15:0-18:0,False,False,False,False,False
4,NaN,None,NaN,NaN,NaN,NaN,'none',NaN,False,"{'touristy': False, 'hipster': False, 'romanti...",...,6:0-22:0,6:0-22:0,6:0-22:0,6:0-22:0,6:0-22:0,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<hr>

## guardando df total

In [180]:
df_combined = pd.concat([restaurantes, col_complejas], axis=1)

In [181]:
df_combined

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,Wednesday,Thursday,Friday,Saturday,Sunday,BusinessParking.garage,BusinessParking.street,BusinessParking.validated,BusinessParking.lot,BusinessParking.valet
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,7:0-20:0,7:0-20:0,7:0-21:0,7:0-21:0,7:0-21:0,False,True,False,False,False
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,...,6:0-22:0,6:0-22:0,9:0-0:0,9:0-22:0,8:0-22:0,NaN,NaN,NaN,NaN,NaN
2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,...,6:0-21:0,6:0-16:0,6:0-16:0,6:0-17:0,6:0-21:0,False,False,False,True,False
3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,...,11:0-14:0,11:0-14:0,11:0-14:0,5:0-10:0,15:0-18:0,False,False,False,False,False
4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,...,6:0-22:0,6:0-22:0,6:0-22:0,6:0-22:0,6:0-22:0,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52263,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,19 N Bishop Ave,Clifton Heights,PA,19018,39.925656,-75.310344,3.0,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52264,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,1181 N Milwaukee St,Boise,ID,83704,43.615401,-116.284689,4.0,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52265,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147,39.935982,-75.158665,4.5,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52266,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,DE,19014,39.856185,-75.427725,4.5,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52267,hn9Toz3s-Ei3uZPt7esExA,West Side Kebab House,2470 Guardian Road NW,Edmonton,AB,T5T 1K8,53.509649,-113.675999,4.5,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [183]:
df_combined.to_parquet(r"restaurantes_l.parquet")

In [ ]:
restaurantes = pd.read_parquet(r"restaurantes_l.parquet")

In [ ]:
restaurantes

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,Wednesday,Thursday,Friday,Saturday,Sunday,BusinessParking.garage,BusinessParking.street,BusinessParking.validated,BusinessParking.lot,BusinessParking.valet
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,7:0-20:0,7:0-20:0,7:0-21:0,7:0-21:0,7:0-21:0,False,True,False,False,False
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,...,6:0-22:0,6:0-22:0,9:0-0:0,9:0-22:0,8:0-22:0,None,None,None,None,None
2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,...,6:0-21:0,6:0-16:0,6:0-16:0,6:0-17:0,6:0-21:0,False,False,False,True,False
3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,...,11:0-14:0,11:0-14:0,11:0-14:0,5:0-10:0,15:0-18:0,False,False,False,False,False
4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,...,6:0-22:0,6:0-22:0,6:0-22:0,6:0-22:0,6:0-22:0,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52263,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,19 N Bishop Ave,Clifton Heights,PA,19018,39.925656,-75.310344,3.0,11,...,None,None,None,None,None,None,None,None,None,None
52264,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,1181 N Milwaukee St,Boise,ID,83704,43.615401,-116.284689,4.0,33,...,None,None,None,None,None,None,None,None,None,None
52265,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147,39.935982,-75.158665,4.5,35,...,None,None,None,None,None,None,None,None,None,None
52266,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,DE,19014,39.856185,-75.427725,4.5,14,...,None,None,None,None,None,None,None,None,None,None
52267,hn9Toz3s-Ei3uZPt7esExA,West Side Kebab House,2470 Guardian Road NW,Edmonton,AB,T5T 1K8,53.509649,-113.675999,4.5,18,...,None,None,None,None,None,None,None,None,None,None

In [ ]:
ut.data_review(restaurantes)

Total rows:  52268

Total full null rows:  0

Total duplicated rows: 0

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,business_id,[<class 'str'>],100.00,52268,0.00,0
1,name,[<class 'str'>],100.00,52268,0.00,0
2,address,[<class 'str'>],100.00,52268,0.00,0
3,city,[<class 'str'>],100.00,52268,0.00,0
4,state,[<class 'str'>],100.00,52268,0.00,0
5,postal_code,[<class 'str'>],100.00,52268,0.00,0
6,latitude,[<class 'float'>],100.00,52268,0.00,0
7,longitude,[<class 'float'>],100.00,52268,0.00,0
8,stars,[<class 'float'>],100.00,52268,0.00,0
9,review_count,[<class 'int'>],100.00,52268,0.00,0
10,is_open,[<class 'int'>],100.00,52268,0.00,0
11,RestaurantsDelivery,"[<class 'str'>, <class 'NoneType'>]",91.17,47654,8.83,4614
12,OutdoorSeating,"[<class 'str'>, <class 'NoneType'>]",83.49,43639,16.51,8629
13,BusinessAcceptsCreditCards,"[<class 'str'>, <class 'NoneType'>]",87.16,45557,12.84,6711
14,RestaurantsPriceRange2,"[<class 'str'>, <class 'NoneType'>]",85.14,44500,14.86,7768
15,RestaurantsTakeOut,"[<class 'str'>, <class 'NoneType'>]",93.20,48713,6.80,3555
16,WiFi,"[<class 'str'>, <class 'NoneType'>]",72.22,37748,27.78,14520
17,Alcohol,"[<class 'str'>, <class 'NoneType'>]",76.49,39980,23.51,12288
18,RestaurantsAttire,"[<class 'NoneType'>, <class 'str'>]",74.60,38992,25.40,13276
19,RestaurantsReservations,"[<class 'NoneType'>, <class 'str'>]",82.47,43106,17.53,9162
20,Ambience,"[<class 'NoneType'>, <class 'str'>]",79.53,41567,20.47,10701
21,GoodForKids,"[<class 'NoneType'>, <class 'str'>]",78.40,40977,21.60,11291
22,RestaurantsGoodForGroups,"[<class 'NoneType'>, <class 'str'>]",79.28,41439,20.72,10829
23,HasTV,"[<class 'NoneType'>, <class 'str'>]",80.20,41917,19.80,10351
24,Monday,"[<class 'str'>, <class 'NoneType'>]",74.55,38967,25.45,13301
25,Tuesday,"[<class 'str'>, <class 'NoneType'>]",79.94,41783,20.06,10485
26,Wednesday,"[<class 'str'>, <class 'NoneType'>]",83.69,43742,16.31,8526
27,Thursday,"[<class 'str'>, <class 'NoneType'>]",85.00,44429,15.00,7839
28,Friday,"[<class 'str'>, <class 'NoneType'>]",85.41,44644,14.59,7624
29,Saturday,"[<class 'str'>, <class 'NoneType'>]",83.27,43525,16.73,8743
30,Sunday,"[<class 'str'>, <class 'NoneType'>]",72.13,37703,27.87,14565
31,BusinessParking.garage,"[<class 'bool'>, <class 'NoneType'>]",83.01,43387,16.99,8881
32,BusinessParking.street,"[<class 'bool'>, <class 'NoneType'>]",81.07,42376,18.93,9892
33,BusinessParking.validated,"[<class 'bool'>, <class 'NoneType'>]",82.72,43234,17.28,9034
34,BusinessParking.lot,"[<class 'bool'>, <class 'NoneType'>]",82.53,43136,17.47,9132
35,BusinessParking.valet,"[<class 'bool'>, <class 'NoneType'>]",85.85,44870,14.15,7398

In [ ]:
restaurantes["RestaurantsDelivery"].value_counts()

RestaurantsDelivery
True     27563
False    17495
None      2596
Name: count, dtype: int64

In [ ]:
restaurantes["OutdoorSeating"].value_counts()

OutdoorSeating
False    21912
True     19970
None      1757
Name: count, dtype: int64

In [ ]:
restaurantes["BusinessAcceptsCreditCards"].value_counts()

BusinessAcceptsCreditCards
True     44125
False     1406
None        26
Name: count, dtype: int64

In [ ]:
restaurantes["RestaurantsPriceRange2"].value_counts()

RestaurantsPriceRange2
2       23119
1       19509
3        1662
4         194
None       16
Name: count, dtype: int64

In [ ]:
restaurantes["RestaurantsTakeOut"].value_counts()

RestaurantsTakeOut
True     45381
False     2247
None      1085
Name: count, dtype: int64

In [ ]:
restaurantes["WiFi"].value_counts()

WiFi
u'free'    14938
u'no'      11374
'no'        5656
'free'      5483
u'paid'      166
'paid'        95
None          36
Name: count, dtype: int64

In [ ]:
restaurantes["Alcohol"].value_counts()

Alcohol
u'none'             15641
u'full_bar'         11440
'none'               4662
u'beer_and_wine'     4589
'full_bar'           2455
'beer_and_wine'      1159
None                   34
Name: count, dtype: int64

In [ ]:
restaurantes["Alcohol"] = restaurantes["Alcohol"].str.strip("u'")

In [ ]:
restaurantes["Alcohol"] = restaurantes["Alcohol"].str.capitalize()

In [ ]:
restaurantes["Alcohol"].value_counts()

Alcohol
None             20337
Full_bar         13895
Beer_and_wine     5748
Name: count, dtype: int64

In [ ]:
restaurantes["RestaurantsAttire"].value_counts()

RestaurantsAttire
u'casual'    22976
'casual'     15113
u'dressy'      523
'dressy'       273
'formal'        38
None            37
u'formal'       32
Name: count, dtype: int64

In [ ]:
restaurantes["RestaurantsAttire"] = restaurantes["RestaurantsAttire"].str.strip("u'")
restaurantes["RestaurantsAttire"] = restaurantes["RestaurantsAttire"].str.capitalize()

In [ ]:
restaurantes["RestaurantsAttire"].value_counts()

RestaurantsAttire
Casual    38089
Dressy      796
Formal       70
None         37
Name: count, dtype: int64

In [ ]:
restaurantes["RestaurantsReservations"].value_counts()

RestaurantsReservations
False    28428
True     14429
None       249
Name: count, dtype: int64

In [ ]:
restaurantes["Ambience"].value_counts()

Ambience
{'romantic': False, 'intimate': False, 'touristy': False, 'hipster': False, 'divey': False, 'classy': False, 'trendy': False, 'upscale': False, 'casual': False}    14216
{'romantic': False, 'intimate': False, 'touristy': False, 'hipster': False, 'divey': False, 'classy': False, 'trendy': False, 'upscale': False, 'casual': True}      9903
{'touristy': False, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': True, 'casual': False}      1947
{'touristy': False, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': True, 'casual': True}       1519
{'touristy': False, 'hipster': False, 'romantic': False, 'divey': None, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': False, 'casual': True}        898
                                                                                                                                                                    ...
{'touristy': None, 'hipster': False, 'romantic': None, 'divey': False, 'intimate': None, 'trendy': None, 'upscale': True, 'classy': None, 'casual': None}               1
{'touristy': False, 'hipster': False, 'romantic': False, 'divey': None, 'intimate': False, 'trendy': None, 'upscale': False, 'classy': None, 'casual': None}            1
{'touristy': None, 'hipster': False, 'romantic': None, 'divey': None, 'intimate': None, 'trendy': True, 'upscale': False, 'classy': False, 'casual': True}              1
{'divey': None, 'hipster': False, 'casual': True, 'touristy': None, 'trendy': False, 'intimate': True, 'romantic': True, 'classy': None, 'upscale': None}               1
{'divey': False, 'hipster': None, 'casual': None, 'touristy': True, 'trendy': None, 'intimate': None, 'romantic': None, 'classy': None, 'upscale': None}                1
Name: count, Length: 1606, dtype: int64

In [ ]:
restaurantes["Ambience"] = restaurantes["Ambience"].apply(clean_and_convert)

In [ ]:
expanded_parking = pd.json_normalize(restaurantes['Ambience'])
expanded_parking.columns = [f"Ambience.{col}" for col in expanded_parking.columns]
restaurantes = pd.concat([restaurantes.drop(columns=["Ambience"]), expanded_parking], axis=1)

In [ ]:
restaurantes

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,BusinessParking.valet,Ambience.romantic,Ambience.intimate,Ambience.touristy,Ambience.hipster,Ambience.divey,Ambience.classy,Ambience.trendy,Ambience.upscale,Ambience.casual
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,...,False,False,False,False,False,False,False,False,False,False
3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52263,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,19 N Bishop Ave,Clifton Heights,PA,19018,39.925656,-75.310344,3.0,11,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52264,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,1181 N Milwaukee St,Boise,ID,83704,43.615401,-116.284689,4.0,33,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52265,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147,39.935982,-75.158665,4.5,35,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52266,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,DE,19014,39.856185,-75.427725,4.5,14,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52267,hn9Toz3s-Ei3uZPt7esExA,West Side Kebab House,2470 Guardian Road NW,Edmonton,AB,T5T 1K8,53.509649,-113.675999,4.5,18,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
restaurantes["GoodForKids"].value_counts()

GoodForKids
True     34780
False     6175
None        22
Name: count, dtype: int64

In [ ]:
restaurantes["RestaurantsGoodForGroups"].value_counts()

RestaurantsGoodForGroups
True     35579
False     5840
None        20
Name: count, dtype: int64

In [ ]:
restaurantes["HasTV"].value_counts()

HasTV
True     31782
False    10117
None        18
Name: count, dtype: int64

In [ ]:
restaurantes["Monday"].value_counts()

Monday
0:0-0:0       9403
11:0-22:0     3021
11:0-21:0     2720
11:0-23:0      938
10:0-22:0      773
              ...
10:0-19:45       1
7:0-5:0          1
15:0-2:30        1
10:45-23:0       1
9:0-2:30         1
Name: count, Length: 844, dtype: int64

In [ ]:
restaurantes["Tuesday"].value_counts()

Tuesday
11:0-22:0     4002
11:0-21:0     3920
11:0-20:0     1425
0:0-0:0       1366
11:0-23:0     1127
              ...
10:45-15:0       1
6:0-0:30         1
10:0-11:30       1
13:0-17:0        1
5:0-0:30         1
Name: count, Length: 889, dtype: int64

In [ ]:
restaurantes["Wednesday"].value_counts()

Wednesday
11:0-22:0      4124
11:0-21:0      4104
11:0-20:0      1451
0:0-0:0        1372
11:0-23:0      1167
               ...
10:45-23:0        1
10:15-21:30       1
19:0-20:0         1
6:0-13:45         1
23:0-14:0         1
Name: count, Length: 893, dtype: int64

In [ ]:
restaurantes["Thursday"].value_counts()

Thursday
11:0-21:0      4033
11:0-22:0      4017
11:0-20:0      1579
0:0-0:0        1399
11:0-23:0      1166
               ...
10:0-2:45         1
14:0-22:30        1
10:0-5:30         1
15:30-23:45       1
9:30-21:15        1
Name: count, Length: 927, dtype: int64

In [ ]:
restaurantes["Friday"].value_counts()

Friday
11:0-22:0      3507
11:0-21:0      2547
11:0-23:0      2490
0:0-0:0        1457
11:0-0:0       1132
               ...
12:30-3:30        1
16:15-21:0        1
17:30-10:30       1
12:0-3:30         1
13:30-23:0        1
Name: count, Length: 986, dtype: int64

In [ ]:
restaurantes["Saturday"].value_counts()

Saturday
11:0-22:0     3415
11:0-21:0     2388
11:0-23:0     2379
0:0-0:0       1511
11:0-0:0      1135
              ...
4:0-16:0         1
4:0-0:30         1
19:30-2:0        1
6:0-0:30         1
10:45-15:0       1
Name: count, Length: 972, dtype: int64

In [ ]:
restaurantes["Sunday"].value_counts()

Sunday
11:0-21:0     3135
11:0-22:0     2503
0:0-0:0       1380
11:0-20:0     1167
12:0-21:0     1064
              ...
20:0-23:0        1
10:0-5:30        1
12:0-23:45       1
8:0-4:0          1
9:30-14:30       1
Name: count, Length: 886, dtype: int64

In [ ]:
restaurantes["BusinessParking.garage"].value_counts()

BusinessParking.garage
False    41304
True      2083
Name: count, dtype: int64

In [ ]:
restaurantes["BusinessParking.lot"].value_counts()

BusinessParking.lot
True     23177
False    19959
Name: count, dtype: int64

In [ ]:
restaurantes["BusinessParking.street"].value_counts()

BusinessParking.street
False    29893
True     12483
Name: count, dtype: int64

In [ ]:
restaurantes["BusinessParking.valet"].value_counts()

BusinessParking.valet
False    43785
True      1085
Name: count, dtype: int64

In [ ]:
restaurantes["BusinessParking.validated"].value_counts()

BusinessParking.validated
False    42712
True       522
Name: count, dtype: int64

In [ ]:
ut.data_review(restaurantes)

Total rows:  52268

Total full null rows:  0

Total duplicated rows: 0

,Column,dType,No_Null_%,No_Null_Qty,Null_%,Null_Qty
0,business_id,[<class 'str'>],100.00,52268,0.00,0
1,name,[<class 'str'>],100.00,52268,0.00,0
2,address,[<class 'str'>],100.00,52268,0.00,0
3,city,[<class 'str'>],100.00,52268,0.00,0
4,state,[<class 'str'>],100.00,52268,0.00,0
5,postal_code,[<class 'str'>],100.00,52268,0.00,0
6,latitude,[<class 'float'>],100.00,52268,0.00,0
7,longitude,[<class 'float'>],100.00,52268,0.00,0
8,stars,[<class 'float'>],100.00,52268,0.00,0
9,review_count,[<class 'int'>],100.00,52268,0.00,0
10,is_open,[<class 'int'>],100.00,52268,0.00,0
11,RestaurantsDelivery,"[<class 'str'>, <class 'NoneType'>]",91.17,47654,8.83,4614
12,OutdoorSeating,"[<class 'str'>, <class 'NoneType'>]",83.49,43639,16.51,8629
13,BusinessAcceptsCreditCards,"[<class 'str'>, <class 'NoneType'>]",87.16,45557,12.84,6711
14,RestaurantsPriceRange2,"[<class 'str'>, <class 'NoneType'>]",85.14,44500,14.86,7768
15,RestaurantsTakeOut,"[<class 'str'>, <class 'NoneType'>]",93.20,48713,6.80,3555
16,WiFi,"[<class 'str'>, <class 'NoneType'>]",72.22,37748,27.78,14520
17,Alcohol,"[<class 'str'>, <class 'NoneType'>]",76.49,39980,23.51,12288
18,RestaurantsAttire,"[<class 'NoneType'>, <class 'str'>]",74.60,38992,25.40,13276
19,RestaurantsReservations,"[<class 'NoneType'>, <class 'str'>]",82.47,43106,17.53,9162
20,GoodForKids,"[<class 'NoneType'>, <class 'str'>]",78.40,40977,21.60,11291
21,RestaurantsGoodForGroups,"[<class 'NoneType'>, <class 'str'>]",79.28,41439,20.72,10829
22,HasTV,"[<class 'NoneType'>, <class 'str'>]",80.20,41917,19.80,10351
23,Monday,"[<class 'str'>, <class 'NoneType'>]",74.55,38967,25.45,13301
24,Tuesday,"[<class 'str'>, <class 'NoneType'>]",79.94,41783,20.06,10485
25,Wednesday,"[<class 'str'>, <class 'NoneType'>]",83.69,43742,16.31,8526
26,Thursday,"[<class 'str'>, <class 'NoneType'>]",85.00,44429,15.00,7839
27,Friday,"[<class 'str'>, <class 'NoneType'>]",85.41,44644,14.59,7624
28,Saturday,"[<class 'str'>, <class 'NoneType'>]",83.27,43525,16.73,8743
29,Sunday,"[<class 'str'>, <class 'NoneType'>]",72.13,37703,27.87,14565
30,BusinessParking.garage,"[<class 'bool'>, <class 'NoneType'>]",83.01,43387,16.99,8881
31,BusinessParking.street,"[<class 'bool'>, <class 'NoneType'>]",81.07,42376,18.93,9892
32,BusinessParking.validated,"[<class 'bool'>, <class 'NoneType'>]",82.72,43234,17.28,9034
33,BusinessParking.lot,"[<class 'bool'>, <class 'NoneType'>]",82.53,43136,17.47,9132
34,BusinessParking.valet,"[<class 'bool'>, <class 'NoneType'>]",85.85,44870,14.15,7398
35,Ambience.romantic,"[<class 'float'>, <class 'bool'>, <class 'None...",72.59,37940,27.41,14328
36,Ambience.intimate,"[<class 'float'>, <class 'bool'>, <class 'None...",70.95,37084,29.05,15184
37,Ambience.touristy,"[<class 'float'>, <class 'bool'>, <class 'None...",72.06,37664,27.94,14604
38,Ambience.hipster,"[<class 'float'>, <class 'bool'>, <class 'None...",70.74,36975,29.26,15293
39,Ambience.divey,"[<class 'float'>, <class 'bool'>, <class 'None...",68.75,35932,31.25,16336
40,Ambience.classy,"[<class 'float'>, <class 'bool'>, <class 'None...",72.06,37662,27.94,14606
41,Ambience.trendy,"[<class 'float'>, <class 'bool'>, <class 'None...",69.00,36066,31.00,16202
42,Ambience.upscale,"[<class 'float'>, <class 'bool'>, <class 'None...",73.36,38342,26.64,13926
43,Ambience.casual,"[<class 'float'>, <class 'bool'>, <class 'None...",74.78,39085,25.22,13183

In [ ]:
restaurantes.to_csv(r"restaurantes_l.csv")

In [ ]:
restaurantes.to_parquet(r"restaurantes_l.parquet")

<hr>